<div class="dashboard__menu-vertical">
  <div class="dash__logo">
    <h3>HAPPYPET</h3>
  </div>
  <a href="#" class="dash__dash">
    <i class="fas fa-tachometer-alt"></i><span>Inicio</span>
  </a>
  <p>MENU</p>
  <div class="dash__menu">
    <a href="#"><i class="fas fa-dog"></i><span>Mascotas</span></a>
    <a href="#"><i class="fas fa-walking"></i><span>Trabajadores</span></a>
    <a href="#"><i class="far fa-file-word"></i><span>Postulaciones</span></a>
    <a href="#"><i class="fas fa-paw"></i><span>Adopciones</span></a>
    <a href="#"><i class="fas fa-money-check-alt"></i><span>Donaciones</span></a>
    <a href="#"><i class="fas fa-newspaper"></i><span>Noticias</span></a>
    <a href="#"><i class="fas fa-history"></i><span>Historias</span></a>
    <a href="#"><i class="fas fa-user-cog"></i><span>Configuración</span></a>
  </div>
</div>
<div class="dashboard__menu-horizontal">
  <div class="dash__ht">
    <div class="dash__bar">
      <i class="fa fa-bars"></i>
    </div>
    <div class="dash__user">
      {{#if user}}
        <strong class="mr-5">{{ user.usuario }}</strong>
      {{/if}}
      <a href="/auth/logout">Cerrar Sesion</a>
    </div>
  </div>
  <div class="dash__hb">
    <a href="#">HAPPYPET</a>
    <span>/</span>
    <a href="#">INICIO</a>
  </div>
</div>