<div class="footer">
  <div class="home__footer">
    <img src="https://www.matchcota.org/static/img/footer_mascota.png" alt="dog">
    <div class="home__footer-rigth">
      <p>PARA MAS INFORMACION CONTACTATE CON NOSOTROS</p>
      <p><strong>Facebook:</strong> ...</p>
      <p><strong>Instagram:</strong> ...</p>
      <h5>HAPPYPET@HAPPYPET.ORG</h5>
    </div>
  </div>
  <div class="home__footerb">
    <p>HappyPet 2020 Todos los Derechos Reservados</p>
    <p>Diseño Web: <strong>RekceB</strong></p>
  </div>
</div>