<header class="header">
  <div class="header__content">
    <a href="/" class="login__logo"><img class="logo" src="/images/logo.png" alt=""></a>
    <div class="header__menu">
      <a href="/pets"><i class="fas fa-paw"></i> <span>ADOPTA</span></a>
      <a href="/auth/login"><i class="fas fa-user"></i> <span>INGRESA</span></a>
      <a href="#" @click.prevent="openDonation"><i class="fas fa-money-bill-wave-alt"></i> <span>DONA</span></a>
    </div>
  </div>
</header>