<header class="header">
  <div class="header__content">
    <a href="/"><img class="logo" src="/images/logo.png" alt=""></a>
    <div class="header__menu">
      <a href="/pets"><i class="fas fa-paw"></i> <span>ADOPTA</span></a>
      <a href="#"><i class="fas fa-bone"></i> <span>APADRINA</span></a>
      <a href="#" @click.prevent="openDonation"><i class="fas fa-money-bill-wave-alt"></i> <span>DONA</span></a>
    </div>
  </div>
</header>