<div class="menumenu" id="menu">
  <i class="fas fa-times-circle menumenu__close" @click="closeMenu"></i>
  <div class="menumenu__container">
    <img src="/images/logo2.png" alt="logo2" class="menumenu__logo">
    <div class="menumenu__menu">
      <a href="/">INICIO</a>
      <a href="">NOSOTROS</a>
      <a href="/pets">ADOPTA</a>
      <a href="">AMENIDADES</a>
      <a href="">NOTICIAS</a>
      <div class="menumenu__linku">
        <a href="#" @click="openDonation">
          <span><i class="fas fa-money-bill-wave-alt"></i></span>
          Dona
        </a>
        <a href="#">
          <span><i class="fas fa-paw"></i></span>
          Apadrina
        </a>
      </div>
    </div>
  </div>
</div>
<div class="menu">
  <div class="menu__content">
    <i class="fas fa-bars" @click="openMenu"></i>
    <span>MENU</span>
  </div>
</div>

{{> donationmodal }}