<div class="dashboard">
  {{> adminmenu }}

  <div class="dpets">
    <h2 class="dpets__title">Agrega Una Nueva Mascota</h2>
    <p class="dpets__subtitle">Que estará esperando una <b>Nueva Familia</b></p>

    <!-- Upload  -->
    <div class="dpets__content">
      <form action="/dashboard/pets/add" method="POST" enctype="multipart/form-data" class="donation__inputs">
        <div class="donation__container-inputs">
          <div class="donation__input">
            <label for="nombre">NOMBRE</label>
            <input type="text" placeholder="Nombre" class="dp" name="nombre">
          </div>
          <div class="donation__input">
            <label for="sexo">SEXO</label>
            <select name="sexo" id="">
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </div>
        </div>
        <div class="donation__container-inputs">
          <div class="donation__input">
            <label for="tamano">TAMAÑO</label>
            <select name="tamano" id="">
              <option value="Grande">Grande</option>
              <option value="Mediano">Mediano</option>
              <option value="Pequeño">Pequeño</option>
            </select>
          </div>
          <div class="donation__input">
            <label for="clase">CLASE</label>
            <select name="clase" id="">
              <option value="Perro">Perro</option>
              <option value="Gato">Gato</option>
            </select>
          </div>
        </div>
        <div class="donation__container-inputs">
          <div class="donation__input">
            <label for="pelaje">PELAJE</label>
            <select name="pelaje" id="">
              <option value="Corto">Corto</option>
              <option value="Medio">Medio</option>
              <option value="Grande">Grande</option>
            </select>
          </div>
          <div class="donation__input">
            <label for="crecimiento">CRECIMIENTO</label>
            <select name="crecimiento" id="">
              <option value="Cachorro">Cachorro</option>
              <option value="Adulto">Adulto</option>
              <option value="Senior">Senior</option>
            </select>
          </div>
        </div>
        <div class="donation__container-inputs">
          <div class="donation__input">
            <label for="informacion">INFORMACIÓN</label>
            <textarea name="informacion" id="" cols="30" rows="7">

            </textarea>
          </div>
        </div>
        <div class="donation__container-inputs">
          <div class="donation__input">
            <label for="historia">HISTORIA</label>
            <textarea name="historia" id="" cols="30" rows="7">

            </textarea>
          </div>
        </div>
        <div class="donation__file">
          <label for="file">SELECCIONA UNA IMAGEN <i class="fas fa-upload"></i></label>
          <input type="file" id="file" name="imagen" onchange="readURL(this);">
        </div>
        <div class="donation__imgfile">
          <img id="blah" src="http://placehold.it/180" alt="your image" />
        </div>
        <div class="donation__submit">
          <button type="submit">GUARDAR</button>
        </div>
      </form>
    </div>
  </div>
  {{> adminfooter }}
</div>