{{> verticalmenu }}

{{> donationmodal }}

<div class="content">
  {{> horizontalmenu }}

  {{> banner4 }}

  <div class="amenidad">
    <h5 class="amenidad__title">HISTORIAS</h5>
    <div class="news__content">
      {{#each stories}}
        <div class="home__new news__new stories__history">
          <img src="{{this.url}}" alt="new1">
          <a href="/history/{{this.id}}">Ver Historia</a>
        </div>
      {{/each}}
    </div>
  </div>

  {{> footer}}
</div>