{{> verticalmenu }}

{{> donationmodal }}

<div class="content">
  {{> horizontalmenu }}

  {{> banner3 }}

  <div class="amenidad">
    <h5 class="amenidad__title">HISTORIA</h5>
    <div class="amenidad__content">
      <div class="amenidad__left">
        <h6>{{ history.nombre }}</h6>
        <p>{{ history.contenido }}</p>
      </div>
      <div class="amenidad__right">
        <img src="{{ history.url }}" alt="historia">
      </div>
    </div>
  </div>

  {{> footer}}
</div>