<div class="login">
  <a href="/" class="login__link">Regresar a HAPPYPET</a>
  <div class="login__container-logo">
    <img src="/images/logo.png" alt="logo">
  </div>
  <div class="login__container-form">
    <form class="login__form" method="GET" action="/dashboard/home">
      <div class="login__form-inputs">
        <input type="text" placeholder="Usuario">
        <input type="password" placeholder="password">
      </div>
      <button type="submit">Ingresar</button>
    </form>
  </div>
</div>