<div class="donation login">
  <div class="donation__left">
    <h3>Ingresa</h3>
    <div>
      <img src="https://www.matchcota.org/static/img/img_dona.png">
    </div>

  </div>
  <div class="donation__right login__right">
    <div class="donation__form login__form">
      <div class="login__logo">
        <a href="/"><img class="logo" src="/images/logo.png" alt=""></a>
      </div>
  
      <form action="/auth/login" class="donation__inputs" method="POST">
        <input name="username" class="login__input" type="text" placeholder="Ingrese su Usuario">
        <input name="password" class="login__input" type="password" placeholder="Ingrese su Contraseña">
        <div class="login__container-btn">
          <button type="submit">Iniciar Sesión</button>
        </div>
        <a href="/auth/recovery">Olvidaste la cuenta?</a>
      </form>
    </div>
  </div>
</div>