{{> verticalmenu }}

{{> donationmodal }}

<div class="content">
  {{> horizontalmenu }}

  {{> banner4 }}

  <div class="amenidad">
    <h5 class="amenidad__title">NOTICIA</h5>
    <div class="amenidad__content">
      <div class="amenidad__left">
        <img src="{{ new.url }} " alt="Noticia">
        <a href="/news" class="amenidad__link"><i class="fas fa-arrow-left"></i> VER MAS NOTICIAS</a>
      </div>
      <div class="amenidad__right new">
        <h6>{{ new.nombre }}</h6>
        <p>{{ new.contenido }}</p>
      </div>
    </div>
  </div>

  {{> footer}}
</div>