{{> verticalmenu }}

{{> donationmodal }}

<div class="content">
  {{> horizontalmenu }}

  <div class="pets">
    {{> banner2 }}

    <div class="pets__content">
      <p class="pets__content-text">Todos ellos est치n esperando la oportunidad de formar parte de una familia. Conoce un
        poco m치s sobre su personalidad y otros detalles importantes.</p>
      <div class="pets__categories">
        <a href="/pets">TODAS LAS MASCOTAS</a>
        <a href="/pets/cachorro">CACHORRO</a>
        <a href="/pets/adulto">ADULTO</a>
        <a href="/pets/senior">SENIOR</a>
      </div>
      <div class="pets__container">
        <div class="pets__filters">
          <h6>Filtros</h6>
          <div class="pets__filter">
            <strong>Clase</strong>
            <div class="pets__filter-content">
              <input type="checkbox" >
              <label for="">Perro</label>
            </div>
            <div class="pets__filter-content">
              <input type="checkbox" >
              <label for="">Gato</label>
            </div>
          </div>
          <div class="pets__filter">
            <strong>Pelaje</strong>
            <div class="pets__filter-content">
              <input type="checkbox" >
              <label for="">Corto</label>
            </div>
            <div class="pets__filter-content">
              <input type="checkbox" >
              <label for="">Medio</label>
            </div>
            <div class="pets__filter-content">
              <input type="checkbox" >
              <label for="">Largo</label>
            </div>
          </div>
          <div class="pets__filter">
            <strong>Tama침o</strong>
            <div class="pets__filter-content">
              <input type="checkbox" >
              <label for="">Peque침o</label>
            </div>
            <div class="pets__filter-content">
              <input type="checkbox" >
              <label for="">Mediano</label>
            </div>
            <div class="pets__filter-content">
              <input type="checkbox" >
              <label for="">Grande</label>
            </div>
          </div>
        </div>
        <div class="pets__pets">
          <a v-for="pet in petsWeb" :key="pet.id" :href="'http://localhost:5000/pet/' + pet.id" class="home__pet-pet b-m">
            <span class="text-m">[[ pet.nombre.toUpperCase() ]]</span>
            <img :src="pet.photo" alt="">
            <span class="home__pet-sub">Adopta a tu mejor amigo</span>
          </a> 
        </div>
      </div>
    </div>
  </div>


  {{> footer}}
</div>