{{> verticalmenu }}

{{> donationmodal }}

<div class="content">
  {{> horizontalmenu }}

  <div class="pets">
    {{> banner2 }}

    <div class="pets__content">
      <p class="pets__content-text">Todos ellos están esperando la oportunidad de formar parte de una familia. Conoce un
        poco más sobre su personalidad y otros detalles importantes.</p>
      <div class="pets__categories">
        <a href="#">TODAS LAS MASCOTAS</a>
        <a href="#">CACHORRO</a>
        <a href="#">ADULTO</a>
        <a href="#">SENIOR</a>
      </div>
      <div class="pets__container">
        <div class="pets__filters">
          FILTROS
        </div>
        <div class="pets__pets">
          <a href="/pet" class="home__pet-pet b-m">
            <span class="text-m">BALTO</span>
            <img src="https://www.matchcota.org/uploads/mascota/2019/matiasad-png.png" alt="">
            <span class="home__pet-sub">Adopta a tu mejor amigo</span>
          </a>
          <a href="#" class="home__pet-pet b-f">
            <span class="text-f">LAZY</span>
            <img src="https://www.matchcota.org/uploads/mascota/patty-png.png" alt="">
            <span class="home__pet-sub">Adopta a tu mejor amigo</span>
          </a>
          <a href="#" class="home__pet-pet b-f">
            <span class="text-f">RÍA</span>
            <img src="https://www.matchcota.org/uploads/mascota/fernanda-png.png" alt="">
            <span class="home__pet-sub">Adopta a tu mejor amigo</span>
          </a>
          <a href="#" class="home__pet-pet b-f">
            <span class="text-f">ALMUDENA</span>
            <img src="https://www.matchcota.org/uploads/mascota/almudena-png.png" alt="">
            <span class="home__pet-sub">Adopta a tu mejor amigo</span>
          </a>
          <a href="#" class="home__pet-pet b-m">
            <span class="text-m">SR. GATO</span>
            <img src="https://www.matchcota.org/uploads/mascota/gatos/adelepng.png" alt="">
            <span class="home__pet-sub">Adopta a tu mejor amigo</span>
          </a>
          <a href="#" class="home__pet-pet b-m">
            <span class="text-m">FIFI</span>
            <img src="https://www.matchcota.org/uploads/mascota/2020/pedrito-png.png" alt="">
            <span class="home__pet-sub">Adopta a tu mejor amigo</span>
          </a>
          <a href="#" class="home__pet-pet b-m">
            <span class="text-m">BETOVEN</span>
            <img src="https://www.matchcota.org/uploads/mascota/2020/gaston-png.png" alt="">
            <span class="home__pet-sub">Adopta a tu mejor amigo</span>
          </a>
        </div>
      </div>
    </div>
  </div>


  {{> footer}}
</div>