<div class="donation congratulations">
  <div class="donation__left">
    <h3>Gracias</h3>
    <div>
      <img src="https://www.matchcota.org/static/img/img_dona.png">
    </div>
  </div>
  <div class="donation__right congratulations__right">
    <div class="donation__form">
      <h5>Gracias por postular</h5>

      <p class="donation__msg t-center">
        Nosotros te contactaremos vía correo electrónico, teléfono o celular para programar la entrevista
        y llevarte tu nuevo amigo a casa.
      </p>

      <div class="congratulations__container-btn">
        <a href="/" class="congratulations__btn"><i class="fas fa-arrow-left"></i> Regresar a HappyPet</a>
      </div>
    </div>
  </div>
</div>