<div class="donation congratulations">
  <div class="donation__left">
    <h3>Upss!</h3>
    <div>
      <img src="https://www.matchcota.org/static/img/img_dona.png">
    </div>
  </div>
  <div class="donation__right congratulations__right">
    <div class="donation__form">
      <h5>Recuperación de cuenta</h5>

      <p class="donation__msg t-center">
        Te enviamos tu usuario y contraseña a tu correo electronico para que puedas volver a iniciar sesión como administrador
      </p>

      <div class="congratulations__container-btn">
        <a href="/auth/login" class="congratulations__btn"><i class="fas fa-arrow-left"></i> Regresar a Login</a>
      </div>
    </div>
  </div>
</div>